/*
 * Gallery style👑, 
 * CSS Code😁,
 * Thanks for checking😎👍
 */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:nth-child(3){
    border-bottom: 3px solid white;
}

.img-gal{
    float: left;
    width: 28%;
    height: 200px;
    box-shadow: 2px 2px 5px grey;
    position: relative;
    display: inline-block;
    margin: 50px 25px 25px 25px;
    cursor: pointer;
    color: rgb(100, 100, 100);
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3),white);
    transition: filter 1s;
}

.img-gal:hover{
    filter: brightness(75%);
}